body {
  margin: 0;
  min-height: 100vh;
}

img {
  background-color: transparent;
}

.container {
  display: grid;
  place-content: center;
  gap: 5px;
  grid-template-columns: 65px 65px 65px 65px;
  grid-template-areas: 
    "header header header  header"
    "main main main main"
    "button button button button"
}

.container header {
  font-size: 1.8em;
  font-weight: bold;
  padding: 10px 60px 40px 0px; 
  margin: 0px 20px 10px 0px;
  grid-area: header;
}

.container main {
  border-bottom: 2px solid #d1d1d1;
  margin: 5px 8px 5px 0px;
  padding: 5px 8px 5px 0px;
  text-align: right;
  font-size: 2em;
  grid-area: main;
}

button {
  font-size: 1.1rem;
  padding: 20px 10px 20px 10px;
  border: 3px solid #d1d1d1;
  border-radius: 25%;
}

button:hover {
  background-color: #d1d2d1;
  transform: translateY(2px);
  transition-timing-function: ease;
  transition-duration: 0.6s;
}